html, body {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: hsl(212, 45%, 89%);
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main.container {
  min-height: calc(100vh - 3rem);
  margin: 0 auto;
  max-width: 90vw;
}

button {
  font-size: 1.4rem;
  padding: 0.3rem 1rem;
  border: 0;
  border-radius: 8px;
  background: #02b1ee;
  color: #fff;
}

button:hover, button:active {
  background: #0086b7;
  cursor: pointer;
}

.title {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
}


@media (max-width: 1520px) {
  main.container {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
} 

/* Overlay style */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  justify-content: center;
  align-items: center;
  z-index: 9; /* High z-index to be on top of everything */
  display: flex;
}

.modal-overlay.active {
  display: flex;
}

/* Modal content style */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-content button {
  margin-top: 1rem;
}

.footer {
  margin: .5rem 0;
  display: flex;
  justify-content: center;
}


